/*--------------------------------------------------------------
Images - reset 
--------------------------------------------------------------*/

img {
    display: block;
    max-width: 400px%;
    height: auto;
}

figure {
    margin: 0;
    padding: 0;
}
