/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/

/* Media Queries for large screens */
@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
    color: #555;
  }

  #section-a .content-text p {
    padding-top: 0;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  .box {
    grid-column: span 2;
  }

  /* Make main content flex across grid on wide screens */
  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
  }

  #section-c .content-text {
    columns: 2;
    column-gap: 2em;
    color: #555;
  }

  #section-c .content-text p {
    padding-top: 0;
  }
}
