/*
Style guide:
COLORS
Base color:
#012034

Shades:
#21759b
#1EAEDB Active
#0FA0CE Hover
#add8e6 Background


TYPOGRAPHY:
300,300i,400,400i,600,600i,700,700i,800,800i
font-family: 'Open Sans', sans-serif;
*/

@import url("accessibility.css");
@import url("layout.css");
@import url("header.css");
@import url("navigation.css");


/*--------------------------------------------------------------
Reset
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

html {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  /* Higher quality font rendering - https://css-tricks.com/almanac/properties/t/text-rendering/ */
  text-rendering: optimizeLegibility;
}


body {
  background-color: #333;
  color: #fff;
}

  
/* ------ IMAGES ------- */

img {
  display: block;
  width: 100%;
  height: auto;
}


/* ------ LINKS ------- */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }




/* ----- BUTTONS -----*/
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-cta {
  background-color: #1EAEDB;
  color: #fff;
}

.btn-cta:hover {
  color: #fff;
}

/* .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
} */

/* Make button fade out only when it is active */
/* .btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
} */

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.1s;
  animation-fill-mode: backwards;
}

/* Media Queries - buttons  */
@media (max-width: 500px) {
  .btn {
    font-size: 14px;
  }
}

.btn:link,
.btn:visited,
input[type=submit] {
	display: inline-block;
	padding: 5px 30px;
	font-weight: 300;
	text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
.btn-ghost:link,
.btn-ghost:visited,
input[type=submit] {
	border: 1px solid #1EAEDB;
	color: #fff;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  margin-top:50px;
}

.btn-full{
  background-color: #21759b;
}

.btn-full:hover,
.btn-full:active
{
  background-color: #0FA0CE;
}

.btn-ghost:hover,
.btn-ghost:active {
  background-color: #333333;
	border: 1px solid #0FA0CE;
	color: #0FA0CE;
}


/* ------ HEADINGS ------- */
h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
  font-weight: 300;
	text-transform: uppercase;
}

h1 {
	margin-top: 0;
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 240%;
	word-spacing: 4px;
	letter-spacing: 1px;
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

h3 {
	font-size: 110%;
	margin-bottom: 15px;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #21759b;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

/* ------ PARAGRAPHS  ------- */
.box p {
	font-size: 90%;
  line-height: 145%;
}

/* Lists - make some margin between the lists elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */
li {
  margin-bottom: 1rem; 
}

/*--------------------------------------------------------------
Section A - Explore
--------------------------------------------------------------*/

#section-a {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
}

/*--------------------------------------------------------------
Section B - Cards
--------------------------------------------------------------*/

#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

.card-content {
  padding: 1.5em;
}

/*--------------------------------------------------------------
Section C
--------------------------------------------------------------*/

#section-c {
  background: #fff;
  color: #333;
  padding: 2em;
}

/*--------------------------------------------------------------
Section D
--------------------------------------------------------------*/

#section-d .box {
  padding: 2em;
  color: #fff;
  
}

#section-d .box:first-child {

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/support.jpg");
    background-attachment: fixed;
}

#section-d .box {

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/visit.jpg");
  background-attachment: fixed;
}

/*--------------------------------------------------------------
Section E
--------------------------------------------------------------*/
#section-e {
  background: #fff;
  color: #333;
  padding: 2em;
  width: auto;
}

.lastest-news ul {
 text-align: center;
  list-style: none;
}

.opening-hours ul {
  text-align: center;
  list-style: none;
}

.contact-info ul {
  text-align: center;
  list-style: none;
  
}

.flex {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
}

@media only screen and (max-width: 700px)  {

  .flex {
    flex-direction: column;
  }

}
/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/

.footer {
	background-color: #333;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  list-style: none;
  
  
}

.footer-nav {
  flex: 50%; 
}
.social-links ul {
  flex: 50%;
  text-align: right;
}

@media only screen and (max-width: 900px) {
  .footer {
    text-align: center;
    align-items: center;
  }
  
}

.footer p {
	color: #888;
	text-align: center;
	margin-top: 20px;
}

/* Select first ul list and make font size smaler */
ul.footer-nav:first-child {
  font-size: 50%;
}


/* FOOTER SOCIAL LINKS */
.social-links {
	list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
	display: inline-block;
	margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
	margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
	text-decoration: none;
	border: 0;
	color: #888;
	transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
	color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
	font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
	transition: color 0.2s;
}
.ion-social-facebook:hover {
	color: #3b5999;
}

.ion-social-twitter:hover {
	color: #55acee;
}

.ion-social-googleplus:hover {
	color: #dd4b39;
}
.ion-social-instagram:hover {
	color: #e4405f;
}









