/*
Style guide:
COLORS
Base color:
#012034

Shades:
#1EAEDB Active
#0FA0CE Hover
#333 Background


TYPOGRAPHY:
300,300i,400,400i,600,600i,700,700i,800,800i
font-family: 'Open Sans', sans-serif;
*/


@import url("accessibility.css");
@import url("navigation.css");
@import url("layout.css");
@import url("header.css");


/*--------------------------------------------------------------
Reset
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

html {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  /* Higher quality font rendering - https://css-tricks.com/almanac/properties/t/text-rendering/ */
  text-rendering: optimizeLegibility;
}

body {
  background-color: #333;
  color: #fff;
}

/* Typography effects */
h1,h2,h3 {
  text-shadow: 1px 1px 2px #999;
}

/* ------ IMAGES ------- */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------ LINKS ------- */
a {
  color: #1eaedb;
}
a:hover {
  color: #0fa0ce;
}

/* ----- BUTTONS -----*/
.btn-cta {
  background-color: #1eaedb;
  color: #fff;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-cta:hover {
  color: #fff;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.1s;
  animation-fill-mode: backwards;
}

/* Media Queries - buttons  */
@media (max-width: 500px) {
  .btn {
    font-size: 14px;
  }
}

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 5px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
.btn-ghost:link,
.btn-ghost:visited,
input[type="submit"] {
  border: 1px solid #1eaedb;
  color: #fff;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.btn-full {
  background-color: #1eaedb;
}

.btn-full:hover,
.btn-full:active {
  background-color: #0fa0ce;
}

.btn-ghost:hover,
.btn-ghost:active {
  background-color: #333333;
  border: 1px solid #0fa0ce;
  color: #0fa0ce;
}

/* ------ HEADINGS ------- */
h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #21759b;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/* ------ PARAGRAPHS  ------- */
.box p {
  font-size: 90%;
  line-height: 145%;
}

/* Lists - make some margin between the lists elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */
li {
  margin-bottom: 1rem;
}


/* White logo mobiles*/
.logo {
	height: 50px;
	width: 120px;
	margin-top: 15px;
}

/* Desktop logo */
@media only screen and (min-width: 700px) {
  .logo {
    width: 150px;
    height: 70px; 
    float: left;
  }
}

/* Black LOGO Mobiles */
.logo-black {
	height: 50px;
	width: 120px;
	margin-top: 15px;
}

/* Black Desktop logo */
@media only screen and (min-width: 700px) {
  .logo-black{
    width: 150px;
    height: 70px; 
    float: left;
  }
}



/*--------------------------------------------------------------
Section A - Explore
--------------------------------------------------------------*/

#section-a {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
}

/*--------------------------------------------------------------
Section B - Cards
--------------------------------------------------------------*/

#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

.card-content {
  padding: 1.5em;
  color: #333;
}

.card:hover,
.card:focus {
  background-color: #0fa0ce;
}


/*--------------------------------------------------------------
Section C
--------------------------------------------------------------*/
#section-c {
  background: #fff;
  color: #333;
  padding: 2em;
}

/*--------------------------------------------------------------
Section D
--------------------------------------------------------------*/

#section-d .box {
  padding: 2em;
  color: #fff;
}

#section-d .box:first-child {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/support.jpg");
  background-attachment: fixed;
}

#section-d .box {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/visit.jpg");
  background-attachment: fixed;
}

/*--------------------------------------------------------------
Section E
--------------------------------------------------------------*/
#section-e {
  background: #fff;
  color: #333;
  padding: 2em;
  width: auto;
}

.lastest-news ul {
  text-align: center;
  list-style: none;
}

.opening-hours ul {
  text-align: center;
  list-style: none;
}

.contact-info ul {
  text-align: center;
  list-style: none;
}

.contact-info i {
  padding: 5px;
}
.flex {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
}

@media only screen and (max-width: 700px) {
  .flex {
    flex-direction: column;
  }
}

/*--------------------------------------------------------------
Section Form
--------------------------------------------------------------*/
.section-form {
  background-color: #eaeaea;
  color: #333;
}

.contact-form {
  width: 60%;
  margin: 0 auto;
  height: 500px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[tpye="checkbox"] {
  margin: 10px 5px 10px 0;
}

input[type="submit"] {
  background-color: #1eaedb;
  color: #fff;
  margin: 5px 5px 10px 0;
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/

.footer {
  background-color: #333;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
}

.footer-nav {
  flex: 50%;
}
.social-links ul {
  flex: 50%;
  text-align: right;
}

@media only screen and (max-width: 900px) {
  .footer {
    text-align: center;
    align-items: center;
  }
}

.footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}

/* Select first ul list and make font size smaler */
ul.footer-nav:first-child {
  font-size: 50%;
}

/* FOOTER SOCIAL LINKS */
.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  transition: color 0.2s;
}
.ion-social-facebook:hover {
  color: #3b5999;
}

.ion-social-twitter:hover {
  color: #55acee;
}

.ion-social-googleplus:hover {
  color: #dd4b39;
}
.ion-social-instagram:hover {
  color: #e4405f;
}
