
/* Eric meyer Reset CSS */ 
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
    pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
    q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
    dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
    thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
    footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
    audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
}
    article, aside, details, figcaption, figure, footer, header, hgroup, menu,
    nav, section {
        display: block;
    }
    body {
        line-height: 1.2;
}
ol {
        padding-left: 1.4em;
        list-style: decimal;
    }
    ul {
        padding-left: 1.4em
        list-style: square;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
    }

/* usefull selector that removes problems with box sizing */ 
* { 
  box-sizing: border-box;
}

html, body {
  min-width: 320px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}


img, video, embed, object {
  max-width: 100%;
}



 

/* Mobile First, Media Queries */

 /* medium display only */
 @media (min-width: 481px) and (max-width:768px) {
  body {
    /* properties that only apply to tablets */
  } 
}
/* large display only */
@media (min-width:769px) {

html {
  font-size: 62.5%;
  max-width: 920px;
}
  body {
    /* properties that only apply to desktops */
    b
  }
  
  main {
   
  }

}

/* LINKS */
a:link { color: #F60; }
a:visited { color: #900; }
a:hover { color: #F33; }
a:active {color: #B2F511; }
a {
  text-decoration: none; 
} 
a:hover {
    background-color: transparent;
    text-decoration: underline;
}
nav a { font-family: Arial, sans-serif; }
nav a:link { color: #F60; }
nav a:visited { color: #900; }
nav a:hover { color: #F33; }
nav a:active {color: #B2F511; }

/* Navigation */



.copyright {
  color: red;
  border: 4px solid white;
  text-transform: uppercase;
  font-size: 1em;
}


/* Images */

/* Header */
header {
  background-image: url(images/hero.jpg);
      background-repeat: no-repeat;
      background-position: center center;
}


/* Forms */
.section-form label {
  display: inline-block;
  width: 20em;
  vertical-align: top;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

/* Submit button */ 
.section-form input[type="submit"]  {
  margin-left: 50px;
  padding: 10px 25px;
  font-size: 1em;
}




/* Layout */



/* photo gallery */
.photo {
  position: relative;
  width: 100px;
  height: 100px;
  display: inline;
}

.photo figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #900;
}

.photo figcaption {
  opacity: 0;
  transition: opacitiy .5s ease-in;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.photo:hover figcaption {
  display: block;
  opacity: 1;
}


