/*  nav {
     border-bottom: 4px solid black; 
    position: relative; z-index: 1000;
  }
 */
/* -----  LOGO ----  */
.logo-box {
  top: 40px;
  left: 40px;
  text-align: center;
}

.logo {
  display: inline;
  width: 85px;
  height: 35px;
  margin: 5px;
}

/* -----  NAVIGATION ----  */
nav ul li {
  display: inline;
  padding: 25px;
}

nav ul {
  padding: 25px;
  text-align: center;
}

.navigation ul li a {
  width: 100%;
}

.navigation {
  top: 60px;
}

#nav a {
  color: #fff;
}

#nav a:visited {
  color: #fff;
}
#nav a:hover {
  text-decoration: underline;
}

#nav a:active {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .navigation li {
    font-size: 0px;
  }
  
  i.fa {
    font-size: initial;
    font-size: 25px;
  }
  
}


