
nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
    /* border-bottom: 4px solid black; */
    background: #3fa652;
    position: relative; z-index: 1000;
  }

#nav {
    display: flex;
    flex-direction: column ;
    flex-wrap: wrap;
}

#nav a {
  color: #fff;
}

#nav a:visited {
  color: #fff;
}
#nav a:hover {
  text-decoration: underline;
}

#nav a:active {
  text-decoration: underline;
}

.logo-box {
  top: 40px;
  left: 40px;
}

.logo {
  width: 85px;
  height: 35px;
  margin: 5px;
}
